[submodule "devel/converse.js"]
	path = devel/converse.js
	url = https://github.com/jcbrand/converse.js
[submodule "devel/xmpp-prebind-php"]
	path = devel/xmpp-prebind-php
	url = https://github.com/piotr-cz/xmpp-prebind-php
